<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- CONSOLE Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern of log message for console -->
            <pattern
            >%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ROOT Logger -->
    <!-- Sets the default logging level for all loggers -->
    <root level="INFO">
        <!-- Associates the STDOUT appender with the root logger -->
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
